body{
  background-color: black;
}
.logo-title{
  position: relative;
  top: 4px;
  font-weight: bold !important;
  color: white !important;
  font-size: 25px !important;
}
.logo-image{
  height: 54px;
}
.logo-tagline{
  position: relative;
  top: -5px;
  left: 15px;
  color: white;
}
.carousel{
  margin-bottom: 0;
}
.donate_btn{
  position: fixed;
  border: 1px solid;
  padding: 20px;
  display: inline;
  top: 277px;
  right: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 0px;
  background-color: #D86262;
  color: white;
  text-decoration: none;
}
.donate_btn .donate_txt{
  color: white;
  text-decoration: none;
  padding-left: 6px;
  cursor: pointer;
}
h1{
  text-align: center;
}
#wi-wrap{
  width: 400px;
  margin: 0 auto 0 auto;
}
.head-image-wrapper{
  position: relative;
}
.look_at_me_wrapper{
  position: absolute;
  left: 356px;
  bottom: 275px;
  color: white;
  font-size: 42px;
  padding: 100px;
  opacity: 0.8; 
}
.look_at_me_wrapper .big_donate_box{
  font-size: 20px;
  margin: 0px 110px;
  border: 1px solid red;
  padding: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.look_at_me_wrapper .big_donate_box:hover{
  background-color: rgb(158, 116, 116);
}
.floatR{
  /*text-align: center;*/
}
.facts-inner{
  border: 1px solid rgb(89, 84, 84) !important;
  padding: 26px;
}
.facts-heading{
  margin-top: 165px;
}
.box-tagline{
  color: black;
}