.watch-video{
  position: relative;
  height: 540px;
  /* margin-top: 10px; */
  border-top: 1px solid white;
  top: 122px;
  border-bottom: 1px solid white;
}

.watch-video-btn .watch-trailer{
  font-size: 115px;
  color: #FFF;
  position: absolute;
  top: 170px;
  left: 245px
}