/*.watch-video {
  position: relative;
}

.watch-video .video-overlay {
  position: relative;
  overflow: hidden;
}

.watch-video .video-overlay .glyphicon-play-circle {
  margin-right: 10px;
  top: 1px;
  position: relative;
  width: 40px;
  height: 40px;
}

.watch-video .video-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.watch-video .video-overlay .background-opaque {
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: opacity;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #000000;
}

.watch-video .video-overlay .video-description {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 20;
}

.watch-video .video-overlay .video-description .header {
  margin-bottom: 40px;
  padding: 0 15px;
}

.watch-video .video-overlay .video-description .watch-video-btn,.watch-video .video-overlay .video-description .intro {
  opacity: 0.5;
}

.watch-video .video-container {
  display: none;
}

.watch-video .video-container iframe {
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 30;
}

@media only screen and (max-width: 767px) {
  .watch-video .video-overlay {
    height: 450px;
  }

  .watch-video .video-overlay img {
    height: 100% !important;
    width: auto !important;
  }
}

.watch {
  position: relative;
}

.watch .video-overlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.watch .video-overlay .glyphicon-play-circle {
  margin-right: 10px;
  top: 1px;
  position: relative;
  width: 40px;
  height: 40px;
}

.watch .video-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.watch .video-overlay .background-opaque {
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: opacity;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #000000;
}

.watch .video-overlay .video-description {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 20;
}

.watch .video-overlay .video-description .header {
  margin-bottom: 40px;
  padding: 0 15px;
}

.watch-video .video-overlay .video-description .watch-video-btn {
  opacity: 0.5;
}

@media only screen and (max-width: 767px) {
  .watch .video-overlay {
    height: 450px;
  }

  .watch .video-overlay img {
    height: 100% !important;
    width: auto !important;
  }
}

p {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.btn.btn-border.quaternary {
  border-color: #FFF;
  color: #FFF;
}

.no-touch .btn.btn-border.quaternary:hover {
  background: #FFF;
  color: #454545;
}

.no-touch .btn.btn-border.quaternary:active {
  background: #d7d7d7;
  border-color: #d7d7d7;
  color: #454545;
}*/
.watch-video{
  position: relative;
}

.watch-video-btn .glyphicon-play-circle{
  font-size: 127px;
  color: #FFF;
  position: absolute;
  top: 130px;
  left: 590px;
}